extends layout

block title
  title= t('tabs.stats')

block styles
  link(rel="stylesheet", href="css/stats.css")
    
block scripts
  script(src="js/vendor/Chart.bundle.min.js")
  script(src="js/vendor/wordcloud2.js")
  script.
    var json = new Object(!{json});
    var emotions = new Object(!{emotions_str});
    var comments = new Object(!{comments_str});
  
  script(src="js/stats.js")

block content
  if !eservice
    .service-selector
      select(name="service")#service_select
        option(value="")= t('actions.choose_service')
        each eservice in eservices
          option(value=eservice.code)= eservice.name
  else
  
  
    .left_content
      .service_selector
        .select
          select(name="service")#service_select
            option(value="")= t('actions.choose_service')
            each eservice in eservices
              option(value=eservice.code)= eservice.name
        //- span= t('actions.filter')
      #service_information
        +statsLine(t('stats.total_requests'), total_requests)#total_requests
        +statsLine(t('stats.finished_requests'), finished_requests)#finished_requests
        +statsLine(t('stats.mean_time'), average_time)#mean_time
        +statsLine(t('stats.average_age'), average_age)#average_age
      //- #service_graphs
      //-   button#date_graph
      //-     i.fa.fa-line-chart
      //-     = t('stats.dates_graph')
      //-   button#hour_graph
      //-     i.fa.fa-line-chart
      //-     = t('stats.times_graph')
      //- #service_map
        
      
        

    .right_content
      h2= t('stats.satisfaction')
      if emotions.show || comments.show
        #info_graphic
          #info_graphic_chart
            if emotions.show
              #chart
                canvas#satisfaction_pie(width="300" height="300")
              #legend
                .legend_pie
                  .legend_square.happy_legend
                  i.fa.fa-smile-o  
                .legend_pie
                  .legend_square.meh_legend
                  i.fa.fa-meh-o  
                .legend_pie
                  .legend_square.sad_legend
                  i.fa.fa-frown-o  
            unless emotions.show
              #emptychart= t('stats.emotions_empty')
          #cloud
            if comments.show && !comments.string
              canvas#cloud_canvas
            unless comments.show && !comments.string
              #emptycloud= t('stats.wordcloud_empty')
      #info_progress
        if ctzp_use.show || ctzp_useful.show || ctzp_relevant.show
          .progress_category
            img(src="img/ctzp.png")
            .progress_data
              .progress_title= t('stats.questions')
              +progressLine(t('stats.use'), ctzp_use)
              +progressLine(t('stats.useful'), ctzp_useful)
              +progressLine(t('stats.simpl_relevant'), ctzp_relevant)
        if tae_use.show || tae_useful.show || tae_relevant.show
          .progress_category
            img(src="img/tae.png")
            .progress_data
              .progress_title= t('stats.simplify')
              +progressLine(t('stats.use'), tae_use)
              +progressLine(t('stats.useful'), tae_useful)
              +progressLine(t('stats.simpl_relevant'), tae_relevant)
        if cdv_use.show || cdv_useful.show || cdv_relevant.show
          .progress_category
            img(src="img/cdv.png")
            .progress_data
              .progress_title= t('stats.cdv')
              +progressLine(t('stats.use'), cdv_use)
              +progressLine(t('stats.useful'), cdv_useful)
              +progressLine(t('stats.simpl_relevant'), cdv_relevant)
        if tae_use.show || tae_useful.show || tae_relevant.show
          .progress_category
            img(src="img/wae.png")
            .progress_data
              .progress_title= t('stats.feedback')
              +progressLine(t('stats.use'), wae_use)
              +progressLine(t('stats.useful'), wae_useful)
              +progressLine(t('stats.simpl_relevant'), wae_relevant)
            

    
mixin statsLine(header, obj)
  if obj.show
    div(id!=attributes.id)
      span= header
      span.separator :
      if obj.error
        span.result
          i.fa.fa-warning(title=obj.error)
      unless obj.error
        span.result= obj.value || obj.string

  
mixin progressLine(header, obj)
  if obj.show
    .progress_line
      span.line_header= header
      meter(min="0" max="100" value=obj.value)
      if obj.error
        span.line_percentage
          i.fa.fa-warning(title=obj.error)
      unless obj.error
        span.line_percentage= obj.value? obj.value + "%" : obj.string
